<html>

<head>
    <link rel="stylesheet" href="../css/main.css" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>

</head>

<body>
    <div id="input">
        <form action="/login" method="POST">
            <div id="input2">
                <div class="username">
                    username: <input type="text" name="username">
                </div>
                <div class="password">
                    password: <input type="password" name="password">
                </div>
            </div>
            <input id="submit" type="submit" value="login">
        </form>
    </div>
</body>

</html>